annotations.tar  
dataset.tar  
embryo_dataset  
embryo_dataset_annotations
embryo_dataset/*  
embryo_dataset_annotations/*
embryo_dataset_grades.csv
.venv/*
.venv
__pycache__
*.log
*.err
*.out
